@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
  }
  :root {
    --radius: 0.5rem;
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    border-radius: 100vh;
    @apply bg-secondary;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-lg;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply opacity-60;
  }
}
